{{ define "main" }}
<main class="container" role="main">
    {{ if not .Params.noTitle }}
    <h1>{{ .Title }}</h1>
    {{ end }}

    {{ if .Params.toc }}
    {{ .TableOfContents }}
    {{ end }}

    {{ .Content }}

    {{ with .Params.include_html }}
    <div id="wrapper"></div>
    <script>
window.addEventListener("load", function() {
  fetch("/{{ . }}").then(response => {
    document.getElementById("wrapper").innerHTML = response.body;
  });
});
    </script>

    {{ end }}

    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ if $.Param "socialShare" }}
        <hr/>
        <section id="social-share">
          <div class="list-inline footer-links">
            {{ partial "share-links" . }}
          </div>
        </section>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
      <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
      <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    {{ end }}
  </article>
</main>
{{ end }}
