<header id="KGlobalHeader" class="header clearfix">
  <a class="sr-only" href="#main">{{ i18n "skip-to-content" }}</a>
  <nav class="navbar navbar-expand-lg">
    <a class="kde-logo navbar-brand active" href="{{ "/" | relLangURL }}"><span class="sr-only">{{ i18n "home" }}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      {{- partial "navbar_nav.html" . -}}
    </div>
  </nav>
</header>
