<ul class="navbar-nav mr-auto">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} dropdown-item"
               href="{{ .URL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
<ul class="navbar-nav ml-auto">
  {{ if .IsTranslated }}
    <li class="nav-item dropdown" aria-describedby="language-picker-description">
      <p class="sr-only" id="language-picker-description">{{ i18n "Select-your-language" }}</p>
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/Language-Icons/icon20x24px-exported-transparent.png" alt="" />
        <span>{{ i18n "translations" }}</span>
      </a>
      <div class="dropdown-menu dropdonw-trans" role="listbox">
          <a class="dropdown-item" aria-selected="true" hreflang="{{ .Site.Language.Lang }}" role="option" lang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
        {{ range .Translations }}
          <a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      </div>
    </li>
  {{ end }} 
</ul>
