{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}
  {{ if not .Params.hide_title }}
    <h1>{{ .Title | safeHTML }} </h1>
    {{if .Date }}
      {{ .Date.Format "Mon, 02 Jan 2006" | safeHTML }}
    {{end}}
    <br>
    <br>
  {{ end }}
    {{ .Content }}

    {{ if .Params.tags }}
      <div class="blog-tags">
        {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    {{ end }}

    {{ if $.Param "socialShare" }}
        <hr/>
        <section id="social-share">
          <div class="list-inline footer-links">
            {{ partial "share-links" . }}
          </div>
        </section>
    {{ end }}

    {{ if .Site.Params.showRelatedPosts }}
      {{ $related := .Site.RegularPages.Related . | first 3 }}
      {{ with $related }}
      <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
      <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
      </ul>
      {{ end }}
    {{ end }}
  </article>
</main>
{{ end }}
